/*
 * 全局css变量
 */

/* Colors
-------------------------- */
$color-primary: #3FAAF5 !default;
$color-success: #13ce66 !default;
$color-warning: #f5a700 !default;
$color-danger: #e11617 !default;
$color-info: #318bff !default;