/*
 * 全局css变量
 */

/* Colors
-------------------------- */
$color-primary: #3faaf5 !default;
$color-success: #13ce66 !default;
$color-warning: #f5a700 !default;
$color-error: #e11617 !default;
$color-info: #318bff !default;

/* transition
-------------------------- */
$transition-all: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$transition-fade: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) !default;
$transition-md-fade: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
  opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) !default;
$transition-color: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$transition-border: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* alert
-------------------------- */
$alert-font-size: 14px !default;

/* carousel
-------------------------- */
$carousel-arrow-color: #fff !default;
$carousel-arrow-bgcolor: rgba(0, 0, 0, 0.3) !default;
$carousel-arrow-bgcolor-hover: rgba(0, 0, 0, 0.4) !default;
$carousel-arrow-size: 30px !default;
