{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/recommended",
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "vue/no-parsing-error": [2, { "x-invalid-end-tag": false }],
    "no-console": "off",
    "indent": [2, 2],
    "semi": [2, "always"]
  }
}