/*
 * alert style
 **/

.imax__alert {
  min-width: 75px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  transition: opacity 0.3s, transform .4s;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 3px 10px 1px #eee;
  font-size: 14px;
}

.imax__alert-fade-enter,
.imax__alert-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}