@import '../var.scss';
@import '../mixins/mixins.scss';
@import '../transition.scss';

/*
 * alert style
 **/
@include b(alert) {
  min-width: 75px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;
  left: 50%;
  top: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 3px 10px 1px #eee;
  font-size: $alert-font-size;
  text-align: center;
}
