/*
 * button style
 **/

.imax__button {
  border: none;
  outline: none;
  padding: 8px 15px;
  font-family: inherit;
  display: inline-block;
  border-radius: 4px;
  color: inherit;
  font-size: 13px;
  line-height: 1;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .1s;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 0 1px 1px 0 #eee;
}

/* Colors
-------------------------- */

.imax__button--default {
  &:hover {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.imax__button--primary {
  background-color: $color-primary;
  color: #fff;
  border-color: $color-primary;
  &:hover {
    opacity: .8;
  }
}


.imax__button--success {
  background-color: $color-success;
  color: #fff;
  border-color: $color-success;
  &:hover {
    opacity: .8;
  }
}

.imax__button--warning {
  background-color: $color-warning;
  color: #fff;
  border-color: $color-warning;
  &:hover {
    opacity: .8;
  }
}

.imax__button--error {
  background-color: $color-error;
  color: #fff;
  border-color: $color-error;
  &:hover {
    opacity: .8;
  }
}

.imax__button--info {
  background-color: $color-info;
  color: #fff;
  border-color: $color-info;
  &:hover {
    opacity: .8;
  }
}

/* Size
-------------------------- */
.imax__button--size-large {
  padding: 10px 20px;
  font-size: 14px;
}

.imax__button--size-small {
  padding: 5px 10px;
}

.imax__button--size-mini {
  padding: 2px 5px;
}

/* Circle
-------------------------- */
.imax__button--circle {
  border-radius: 30px;
}

/* icon
-------------------------- */
.imax-icon {
  font-size: 14px;
  vertical-align: text-bottom;
  vertical-align: middle;
}

.imax-icon + span {
  margin-left: 4px;
  vertical-align: middle;
}

/* long
-------------------------- */
.imax__button--long {
  width: 100%;
  font-size: 14px;
}

/* disabled
-------------------------- */
.imax__button--disabled {
  color: #c3cbd6;
  background-color: #f7f7f7;
  border-color: #d7dde4;
  cursor: not-allowed;
}
