@import '../var.scss';
@import '../mixins/mixins.scss';

@include b(carousel) {
  @include e(item) {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}
