@import '../var.scss';
@import '../mixins/mixins.scss';

@include b(carousel) {
  position: relative;
  width: 100%;
  height: 100%;

  @include e(arrow) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $carousel-arrow-size;
    height: $carousel-arrow-size;
    line-height: $carousel-arrow-size;
    text-align: center;
    color: $carousel-arrow-color;
    background-color: $carousel-arrow-bgcolor;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    z-index: 10;
    opacity: 0;

    @include m(left) {
      left: 0px;
    }
    @include m(right) {
      right: 0px;
    }
    @include m(showleft) {
      opacity: 1;
      left: $carousel-arrow-position;
    }
    @include m(showright) {
      opacity: 1;
      right: $carousel-arrow-position;
    }

    &:hover {
      background-color: $carousel-arrow-bgcolor-hover;
    }
  }
}
