/*
 * author: choo
 * row style
 **/
 
@function size($n) {
  @return ($n/24) * 100;
}
/* col
-------------------------- */
.imax__col--1 {
  width: size(1%);
};

.imax__col--2 {
  width: size(2%);
};

.imax__col--3 {
  width: size(3%);
};

.imax__col--4 {
  width: size(4%);
};

.imax__col--5 {
  width: size(5%);
};

.imax__col--6 {
  width: size(6%);
};

.imax__col--7 {
  width: size(7%);
};

.imax__col--8 {
  width: size(8%);
};

.imax__col--9 {
  width: size(9%);
};

.imax__col--10 {
  width: size(10%);
};

.imax__col--11 {
  width: size(11%);
};

.imax__col--12 {
  width: size(12%);
};

.imax__col--13 {
  width: size(13%);
};

.imax__col--14 {
  width: size(14%);
};

.imax__col--15 {
  width: size(15%);
};

.imax__col--16 {
  width: size(16%);
};

.imax__col--17 {
  width: size(17%);
};

.imax__col--18 {
  width: size(18%);
};

.imax__col--19 {
  width: size(19%);
};

.imax__col--20 {
  width: size(20%);
};

.imax__col--21 {
  width: size(21%);
};

.imax__col--22 {
  width: size(22%);
};

.imax__col--23 {
  width: size(23%);
};

.imax__col--24 {
  width: size(24%);
};