/*
 * input style
 **/

.imax__message {
  min-width: 75px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  transition: opacity 0.3s, transform .4s;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 3px 10px 1px #eee;
  font-size: 14px;
}

.imax__message__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 6px 10px 30px;

  .imax-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 18px;
    color: $color-primary;
  }

  .imax__message__content {
    color: #4b4c4d;
  }
}

.imax__message-fade-enter,
.imax__message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}

/* message type
-------------------------- */
.imax__message-success {
  .imax__message__inner {
    .imax-icon {
      color: $color-success;
    }
    .imax__message__content {
      color: $color-success;
    }
  }
}

.imax__message-warning {
  .imax__message__inner {
    .imax-icon {
      color: $color-warning;
    }
    .imax__message__content {
      color: $color-warning;
    }
  }
}

.imax__message-error {
  .imax__message__inner {
    .imax-icon {
      color: $color-error;
    }
    .imax__message__content {
      color: $color-error;
    }
  }
}
