/*
 * author: choo
 * option style
 **/

.imax__option {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 10px;
  position: relative;
  transition: background-color .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: #f8f8f8;
  }
}

/* select
-------------------------- */
.imax__option-select {
  color: $color-primary;
}
