@import '../var.scss';
@import '../mixins/mixins.scss';

@mixin sliderInputFocus($color) {
  .imax-slider__input-wrapper {
    border: solid $color;
    border-width: 1px 0;
  }
  .imax-slider__dec-button {
    border: 1px solid $color;
    border-radius: 3px 0 0 3px;
    border-right-color: #ccc;
  }
  .imax-slider__inc-button {
    border-radius: 0 3px 3px 0;
    border-right-color: $color;
    border-left-color: #ccc;
  }
}

$content-height: 6px;
$button-translateX: 12px;
$button-height: 26px;
$show-input-width: 150px;

@include b(slider) {
  display: flex;
  justify-content: center;
  align-items: center;

  @include m(vertical) {
    width: $show-input-width;
    @at-root flex-direction: column;
    .imax-slider__content {
      transform: rotate(180deg);
      width: $content-height;
      .imax-slider__button-wrapper {
        top: 0;
        left: 50%;
      }
      .imax-slider__count {
        top: $content-height + $button-height + 7px;
        transform: translateX(-50%) rotate(180deg);
      }
    }
    .imax-slider__show-input {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  @include e(content) {
    margin: 10px;
    height: $content-height;
    width: 500px;
    border-radius: 10px;
    position: relative;
    background: #e6e7e8;

    &:hover {
      cursor: pointer;
    }

    @include e(disabled) {
      $disabled-color: #ccc;
      .imax-slider__bar {
        background: $disabled-color;
      }
      .imax-slider__button {
        cursor: not-allowed;
        border-color: $disabled-color;
      }
    }

    @include e(bar) {
      border-radius: 10px;
      position: absolute;
      background: $color-primary;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
    }

    @include e(button-wrapper) {
      width: $button-height;
      height: $button-height;
      z-index: 100;
      background: transparent;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);

      @include e(button) {
        transition: 0.2s;
        position: absolute;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: 2px solid $color-primary;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        &:hover {
          cursor: grab;
          transform: translate(-50%, -50%) scale(1.2);
        }
      }

      .imax-slider__button:hover + .imax-slider__count {
        opacity: 1;
      }

      $count-height: 33px;

      @include e(count) {
        user-select: none;
        pointer-events: none;
        transition: 0.4s;
        opacity: 0;
        position: absolute;
        top: -$count-height - 15px;
        background: black;
        width: 30px;
        height: $count-height;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 30px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 9px 0 9px;
          border-color: black transparent transparent transparent;
        }

        >p {
          width: 100%;
          font-size: 12px;
          text-align: center;
          line-height: 33px;
          color: white;
          margin: 0 auto;
        }
      }
    }

    @include m(show-stope) {
      height: 100%;
      width: 100%;
      overflow: hidden;

      @include e(steps) {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        >p {
          position: absolute;
          margin: 0;
          background: white;
          height: 6px;
          width: 6px;
          transform: translateX(-50%);
          border-radius: 50%;
        }
      }
    }
  }

  @include e(show-input) {
    cursor: pointer;
    margin-left: 10px;

    @include m(input-large) {
      transform: scale(1.3);
      margin-left: 30px;
    }

    @include m(input-medium) {
      transform: scale(1.2);
      margin-left: 30px;
    }

    @include m(input-mini) {
      transform: scale(0.8);
      margin-left: 0;
    }

    @include e(show-input-content) {
      $btn-size: 30px;

      user-select: none;
      height: $btn-size;
      width: 80px;
      display: flex;
      align-items: center;
      text-align: center;

      @include e(input-wrapper) {
        border: solid #ccc;
        border-width: 1px 0;
        height: 29px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        >input {
          font-size: 15px;
          width: 100%;
          cursor: pointer;
          text-align: center;
          outline: 0;
          border: 0;
        }
      }

      @include m(input-no-controls) {
        border: 1px solid #ccc;
        border-radius: 3px;
        &:focus-within,
        &:hover {
          border-color: $color-primary;
        }
      }

      @include m(has-controls) {
        @at-root width: $show-input-width;
        @at-root {
          &:focus-within {
            @include sliderInputFocus($color-primary);
          }
          &:hover {
            @include sliderInputFocus($color-primary);
          }
        }
      }

      @include e(dec-button) {
        border: 1px solid #ccc;
        border-radius: 3px 0 0 3px;
        width: $btn-size - 1px;
        height: $btn-size - 1px;
        background: #f5f6f7;
        line-height: 27px;
        font-size: 16px;

        &:hover {
          color: $color-primary;
        }
      }

      @include e(inc-button) {
        @extend .imax-slider__dec-button;
        border-radius: 0 3px 3px 0;
      }

      @include m(disabled-button) {
        cursor: not-allowed;
        color: #ccc;
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}