@import '../var.scss';
@import '../mixins/mixins.scss';

@include b(slider) {
	margin: 10px;
	height: 10px;
	border-radius: 10px;
	position: relative;
	background: #e6e7e8;

	@include e(bar) {
		border-radius: 10px;
		position: absolute;
		background: $color-primary;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
	}

	$button-translateX: 12px;
	$button-height: 26px;
	@include e(button-wrapper) {
		background: transparent;
		width: $button-height;
		height: $button-height;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%);

		@include e(button) {
			transition: 0.2s;
			position: absolute;
			margin: 0;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: white;
			border: 2px solid $color-primary;
			border-radius: 50%;
			height: 16px;
			width: 16px;
		}

		&:hover {
			.imax-slider__button {
				cursor: grab;
				transform: translate(-50%, -50%) scale(1.2);
			}
			.imax-slider__count {
				opacity: 1;
			}
		}

		$count-height: 33px;

		@include e(count) {
			transition: 0.4s;
			opacity: 0;
			position: absolute;
			top: -$count-height - 12px;
			background: black;
			width: 30px;
			height: $count-height;
			border-radius: 5px;
			left: 50%;
			transform: translateX(-50%);

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 30px;
				width: 15px;
				height: 10px;
				background: black;
				clip-path: polygon(0 0, 50% 100%, 100% 0);
			}

			> p {
				width: 100%;
				font-size: 14px;
				text-align: center;
				line-height: 33px;
				color: white;
				margin: 0 auto;
			}
		}
	}

	@include m(show-stope) {
		height: 100%;

		@include e(steps) {
			height: 100%;
		}
	}
}