@import '../var.scss';
@import '../mixins/mixins.scss';

@include b(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e9e9e9;

  @include e(th) {
    background: #f7f7f7;
    color: #5c6b77;
    font-weight: 600;
    white-space: nowrap;
    padding: 8px 16px;
    border: 1px solid #e9e9e9;
    text-align: left;
  }

  @include e(td) {
    padding: 8px 16px;
    border: 1px solid #e9e9e9;
    text-align: left;
  }
}

.imax-table {
  .imax__checkbox--input {
    margin-top: -5px;
  }
}

