/*
 * textarea style
 **/

 .imax__textarea {
  display: inline-block;
  width: 100%;
}

.imax__textarea--inner {
  -webkit-appearance: none;
  resize: vertical;
  font-size: 12px;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
  &:focus {
    border-color: $color-primary;
  }
}

/* disabled
-------------------------- */
.imax__textarea--inner[disabled]{
  color: #c3cbd6;
  background-color: #f7f7f7;
  border-color: #d7dde4;
  cursor: not-allowed;
}
